/* fixed page*/
body{
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	background-image: url('../img/snap-background.png');
	background-size: cover; 
}

/* instruction */
#instruction.background{
	position: absolute;
	background-color: black;
	color: white;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .85;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#instruction.welcome{
	color: white;
	font-size: 50px;
	cursor: default;
}
#instruction.instruction{
	color: white;
	text-align: center;
	font-size: 18px;
	cursor: default;
}
#instruction.start{
	height: 50px;
	width: 200px;
	background-color: chocolate;
	border: none;
	border-radius: 25px;
	font-size: 25px;
	color: gold;
}
#instruction.start:hover{
	background-color: #c35100;
	color: #e0bd00;
	cursor: pointer;
}
#instruction.settings{
	position: absolute;
	top: 50px;
	right: 50px;
	width: 30px;
	height: 30px;
	padding: 0 .25px;
	background-color: black;
	opacity: .95;
	color: #607D8B;
	border: 2px solid #607D8B;
	border-radius: 12px;
	font-size: 25px;
	line-height: 25px;
	text-align: center;
}
#instruction.settings:hover{
	color: #9E9E9E;
	border: 2px solid #9E9E9E;
	cursor: pointer;
}
#instruction.joker{
	background-color: white;
	margin-top: 10px;
	padding: 10px 1px;
	box-sizing: border-box;
	border-radius: 20px;
	line-height: 150px;
	text-align: center;
	font-size: 150px;
}
#instruction.hide{
	height: 0%;
	width: 0%;
	opacity: 0;
	cursor: default;
}
/* settings */
#settings.background{
	position: absolute;
	background-color: black;
	color: white;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .85;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	cursor: default;
}
#settings.exit {
	position: absolute;
	top: 50px;
	right: 50px;
	width: 30px;
	height: 30px;
	padding: 0 .25px;
	background-color: black;
	opacity: .95;
	color: #607D8B;
	border: 2px solid #607D8B;
	border-radius: 12px;
	font-size: 30px;
	line-height: 25px;
	text-align: center;
}
#settings.exit:hover{
	color: #9E9E9E;
	border: 2px solid #9E9E9E;
	cursor: pointer;
}
table {
    border-collapse: collapse;
}
td, th {
    text-align: left;
    padding: 10px;
}
ul {
	list-style-type: none;
}
#settings.hide {
	opacity: 0;
	display: none;
}
/* the game */
/* score board*/
#scoreBoard {
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left:-100px;
	width: 200px;
	height: 100px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: lavenderblush;
}
/* round */
#roundNumber {
	position: absolute;
	top: 120px;
	left: 50%;
	margin-left:-150px;
	width: 300px;
	height: 100px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: lavenderblush;
}
/* player one*/
#playerOne.background {
	position: absolute;
	top: 0; 
	left: 0;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #0000ff00;
}
#playerOne.name {
	position: absolute;
	top: 90px;
	text-align: center;
	font-size: 30px;
	font-family: Comic Sans MS;
	color: goldenrod;
}
#playerOne.card {
	position: absolute;
	background-image: url('../img/blue-playingcard.jpg');
	background-size: cover;
	border: 5px solid white;
	height: 300px;
	width: 200px;
	border-radius: 30px;
	line-height: 300px;
	text-align: center;
	font-size: 150px;
}
#playerOne.snap {
	position: absolute;
	top: 50%;
	margin-top:165px;
	width: 150px;
	left: 25%;
	margin-left:-75px;
	height: 50px;
	border-radius: 15px;
	font-size: 25px;
	background-color: #812f63;
	border: none;
	color: aliceblue;
}
#playerOne.snap.onePlayer {
	position: absolute;
	top: 50%;
	margin-top: 165px;
	left: 50%;
	width: 150px;
	margin-left:-75px;
	height: 50px;
	border-radius: 15px;
	font-size: 25px;
	background-color: #812f63;
	border: none;
	color: aliceblue;
}
.snap:hover {
	cursor: pointer;
	background-color: #812f63;
}
/*player Two*/
#playerTwo.background {
	position: absolute;
	top: 0; 
	left: 50%;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #ff000000;
}
#playerTwo.name {
	position: absolute;
	top: 90px;
	text-align: center;
	font-size: 30px;
	font-family: Comic Sans MS;
	color: goldenrod;
}
#playerTwo.card {
	position: absolute;
	background-image: url('../img/red-playingcard.jpg');
	background-size: cover;
	border: 5px solid white;
	height: 300px;
	width: 200px;
	border-radius: 30px;
	line-height: 300px;
	text-align: center;
	font-size: 150px;
}
#playerTwo.snap {
	position: absolute;
	top: 50%;
	margin-top: 165px;
	width: 150px;
	left: 75%;
	margin-left:-75px;
	height: 50px;
	border-radius: 15px;
	font-size: 25px;
	background-color: #812f63;
	border: none;
	color: aliceblue;
}
#playerTwo.snap.onePlayer{
	opacity: 0;
	cursor: default;
}
#playerOne.snap:hover {
	background-color: #701847;
	border: solid blue;
}
#playerTwo.snap:hover {
	background-color: #701847;
	border: solid red;
}
/* notice*/
/* counter */
#notice.counter {
	position: absolute;
	top: 50%;
	margin-top:-50px;
	left: 50%;
	margin-left:-50px;
	height: 100px;
	width: 100px;
	background: radial-gradient(circle, yellow, #f1f3ad, #ffffff);
	border-radius: 50px;
	text-align: center;
	line-height: 100px;
	font-size: 45px;
	font-weight: bold;
	color: black;
}
#notice.playerOneWon {
	position: absolute;
	top: 50%;
	margin-top:-50px;
	left: 50%;
	margin-left:-200px;
	height: 100px;
	width: 400px;
	background-color: white;
	border-radius: 50px;
	text-align: center;
	color: blue;
	line-height: 100px;
	font-size: 30px;
	font-weight: bold;
}
#notice.playerTwoWon {
	position: absolute;
	top: 50%;
	margin-top:-50px;
	left: 50%;
	margin-left:-200px;
	height: 100px;
	width: 400px;
	background-color: white;
	border-radius: 50px;
	text-align: center;
	color: red;
	line-height: 100px;
	font-size: 30px;
	font-weight: bold;
}
#notice.playerOneWonGame {
	position: absolute;
	top: 50%;
	margin-top:-125px;
	left: 50%;
	margin-left:-400px;
	height: 250px;
	width: 800px;
	background-color: white;
	border-radius: 125px;
	text-align: center;
	color: blue;
	line-height: 125px;
	font-size: 100px;
	font-weight: bold;
}
#notice.playerTwoWonGame {
	position: absolute;
	top: 50%;
	margin-top:-125px;
	left: 50%;
	margin-left:-400px;
	height: 250px;
	width: 800px;
	background-color: white;
	border-radius: 125px;
	text-align: center;
	color: red;
	line-height: 125px;
	font-size: 100px;
	font-weight: bold;
}
#notice.pcWon {
	position: absolute;
	top: 50%;
	margin-top:-50px;
	left: 50%;
	margin-left:-200px;
	height: 100px;
	width: 400px;
	background-color: white;
	border-radius: 50px;
	text-align: center;
	color: red;
	line-height: 100px;
	font-size: 30px;
	font-weight: bold;
}
#notice.pcWonGame {
	position: absolute;
	top: 50%;
	margin-top:-125px;
	left: 50%;
	margin-left:-300px;
	height: 250px;
	width: 600px;
	background-color: white;
	border-radius: 125px;
	text-align: center;
	color: red;
	line-height: 250px;
	font-size: 120px;
	font-weight: bold;
}
/* end */
#end.background{
	position: absolute;
	background-color: black;
	top: 0;
	left: 0;
	color: white;
	width: 100%;
	height: 100%;
	opacity: .90;
	font-size: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: default;
}
#end.settings{
	position: absolute;
	top: 50px;
	right: 50px;
	width: 30px;
	height: 30px;
	padding: 0 .25px;
	background-color: black;
	opacity: .95;
	color: #607D8B;
	border: 2px solid #607D8B;
	border-radius: 12px;
	font-size: 25px;
	line-height: 25px;
	text-align: center;
}
#end.settings:hover{
	color: #9E9E9E;
	border: 2px solid #9E9E9E;
	cursor: pointer;
}
#end.restart{
	position: absolute;
	top: 75%;
	left: 50%;
	margin-left:-100px;
	height: 50px;
	width: 200px;
	background-color: chocolate;
	border: none;
	border-radius: 25px;
	font-size: 25px;
	color: gold;
}
#end.restart:hover{
	background-color: #c35100;
	color: #e0bd00;
	cursor: pointer;
}
#end.hide{
	height: 0%;
	width: 0%;
	opacity: 0;
	cursor: default;
}
@media (max-width: 1024px){
	/* fixed page*/
	body{
		position: fixed;
		height:100%;
		width:100%;
		padding: 0;
		margin: 0;
		font-family: Arial, sans-serif;
		background-image: url('../img/snap-background-mobile.png');
		background-size: cover; 
	}
	/* instruction */
	#instruction.background{
		position: absolute;
		background-color: black;
		color: white;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: .85;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	#instruction.welcome{
		color: white;
		font-size: 25px;
		cursor: default;
	}
	#instruction.instruction{
		color: white;
		text-align: center;
		font-size: 12px;
		cursor: default;
	}
	#instruction.start{
		height: 25px;
		width: 100px;
		background-color: chocolate;
		border: none;
		border-radius: 12px;
		font-size: 15px;
		color: gold;
	}
	#instruction.start:active{
		background-color: #c35100;
		color: #e0bd00;
		cursor: pointer;
	}
	#instruction.settings{
		position: absolute;
		top: 50px;
		right: 50px;
		width: 30px;
		height: 30px;
		padding: 0 .25px;
		background-color: black;
		opacity: .95;
		color: #607D8B;
		border: 2px solid #607D8B;
		border-radius: 12px;
		font-size: 30px;
		line-height: 25px;
		text-align: center;
	}
	#instruction.settings:active{
		color: #9E9E9E;
		border: 2px solid #9E9E9E;
		cursor: pointer;
	}
	#instruction.joker{
		background-color: white;
		margin-top: 1px;
		border: 1px solid white;
		border-radius: 15px;
		line-height: 110px;
		text-align: center;
		font-size: 100px;
	}
	#instruction.controls{
		opacity:0;
	}
	#instruction.hide{
		height: 0%;
		width: 0%;
		opacity: 0;
		cursor: default;
	}
	/* settings */
	#settings.background{
		position: absolute;
		background-color: black;
		color: white;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: .85;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		cursor: default;
	}
	#settings.exit {
		position: absolute;
		top: 50px;
		right: 50px;
		width: 30px;
		height: 30px;
		padding: 0 .25px;
		background-color: black;
		opacity: .95;
		color: #607D8B;
		border: 2px solid #607D8B;
		border-radius: 12px;
		font-size: 30px;
		line-height: 25px;
		text-align: center;
	}
	#settings.exit:active{
		color: #9E9E9E;
		border: 2px solid #9E9E9E;
		cursor: pointer;
	}
	table {
		border-collapse: collapse;
	}
	td, th {
		text-align: left;
		padding: 10px;
	}
	ul {
		list-style-type: none;
	}
	#settings.hide {
		opacity: 0;
		display: none;
	}
	/* the game */
	/* score board*/
	#scoreBoard {
		position: absolute;
		top: 50%;
		left: 83%;
		margin-left:-50px;
		width: 100px;
		height: 50px;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		color: lavenderblush;
	}
	/* round */
	#roundNumber {
		position: absolute;
		top: 55%;
		left: 83%;
		margin-left:-75px;
		width: 150px;
		height: 50px;
		text-align: center;
		font-size: 13px;
		font-weight: bold;
		color: lavenderblush;
	}
	/* player one*/
	#playerOne.background {
		position: absolute;
		top: 50%; 
		left: 0;
		width: 100%;
		height: 50%;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background-color: #0000ff00;
	}
	#playerOne.name {
		position: absolute;
		top: 10%;
		text-align: center;
		font-size: 15px;
		font-family: Comic Sans MS;
		color: goldenrod;
	}
	#playerOne.card {
		position: absolute;
		background-image: url('../img/blue-playingcard.jpg');
		background-size: cover;
		border: 5px solid white;
		height: 150px;
		width: 100px;
		border-radius: 15px;
		line-height: 150px;
		text-align: center;
		font-size: 75px;
	}
	#playerOne.snap {
		position: absolute;
		top: 63%;
		width: 75px;
		left: 50%;
		margin-left:-37px;
		height: 25px;
		border-radius: 7px;
		font-size: 12px;
		background-color: #812f63;
		border: none;
		color: aliceblue;
	}
	#playerOne.snap.onePlayer {
		position: absolute;
		top: 63%;
		width: 75px;
		left: 50%;
		margin-left:-37px;
		height: 25px;
		border-radius: 7px;
		font-size: 12px;
		background-color: #812f63;
		border: none;
		color: aliceblue;
	}
	
	/*player Two*/
	#playerTwo.background {
		position: absolute;
		top: 0; 
		left: 0;
		width: 100%;
		height: 50%;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background-color: #ff000000;
	}
	#playerTwo.name {
		position: absolute;
		bottom: 10%;
		text-align: center;
		font-size: 15px;
		font-family: Comic Sans MS;
		color: goldenrod;
		-ms-transform: rotate(180deg); /* IE 9 */
		-webkit-transform: rotate(180deg); /* Safari */
		transform: rotate(180deg); /* Standard syntax */
	}
	#playerTwo.card {
		position: absolute;
		background-image: url('../img/red-playingcard.jpg');
		background-size: cover;
		border: 5px solid white;
		height: 150px;
		width: 100px;
		border-radius: 15px;
		line-height: 150px;
		text-align: center;
		font-size: 75px;
		-ms-transform: rotate(180deg); /* IE 9 */
		-webkit-transform: rotate(180deg); /* Safari */
		transform: rotate(180deg); /* Standard syntax */
	}
	#playerTwo.snap {
		position: absolute;
		top: -19%;
		width: 75px;
		left: 50%;
		margin-left:-37px;
		height: 25px;
		border-radius: 7px;
		font-size: 12px;
		background-color: #812f63;
		border: none;
		color: aliceblue;
		-ms-transform: rotate(180deg); /* IE 9 */
		-webkit-transform: rotate(180deg); /* Safari */
		transform: rotate(180deg); /* Standard syntax */
	}
	#playerTwo.name.onePlayer {
		position: absolute;
		bottom: 10%;
		text-align: center;
		font-size: 15px;
		font-family: Comic Sans MS;
		color: goldenrod;
	}
	#playerTwo.card.onePlayer {
		position: absolute;
		background-image: url('../img/red-playingcard.jpg');
		background-size: cover;
		border: 5px solid white;
		height: 150px;
		width: 100px;
		border-radius: 15px;
		line-height: 150px;
		text-align: center;
		font-size: 75px;
	}
	#playerTwo.snap.onePlayer{
		opacity: 0;
		cursor: default;
	}
	#playerOne.snap:hover {
		background-color: #701847;
		border: solid blue;
	}
	#playerTwo.snap:hover {
		background-color: #701847;
		border: solid red;
	}
	.snap:active {
		cursor: pointer;
		background-color: #812f63;
	}
	/* notice*/
	/* counter */
	#notice.counter {
		position: absolute;
		top: 50%;
		margin-top:-25px;
		left: 50%;
		margin-left:-25px;
		height: 50px;
		width: 50px;
		background: radial-gradient(circle, yellow, #f1f3ad, #ffffff);
		border-radius: 25px;
		text-align: center;
		line-height: 50px;
		font-size: 25px;
		font-weight: bold;
		color: black;
	}
	#notice.playerOneWon {
		position: absolute;
		top: 50%;
		margin-top:-25px;
		left: 25%;
		margin-left:-100px;
		height: 50px;
		width: 200px;
		background-color: white;
		border-radius: 25px;
		text-align: center;
		color: blue;
		line-height: 50px;
		font-size: 15px;
		font-weight: bold;
		-ms-transform: rotate(270deg); /* IE 9 */
		-webkit-transform: rotate(270deg); /* Safari */
		transform: rotate(270deg); /* Standard syntax */
	}
	#notice.playerOneWon.onePlayer{
		position: absolute;
		top: 50%;
		margin-top:-25px;
		left: 50%;
		margin-left:-100px;
		height: 50px;
		width: 200px;
		background-color: white;
		border-radius: 25px;
		text-align: center;
		color: blue;
		line-height: 50px;
		font-size: 15px;
		font-weight: bold;
	}
	#notice.playerTwoWon {
		position: absolute;
		top: 50%;
		margin-top:-25px;
		left: 25%;
		margin-left:-100px;
		height: 50px;
		width: 200px;
		background-color: white;
		border-radius: 25px;
		text-align: center;
		color: red;
		line-height: 50px;
		font-size: 15px;
		font-weight: bold;
		-ms-transform: rotate(270deg); /* IE 9 */
		-webkit-transform: rotate(270deg); /* Safari */
		transform: rotate(270deg); /* Standard syntax */
	}
	#notice.playerOneWonGame {
		position: absolute;
		top: 50%;
		margin-top:-62.5px;
		left: 50%;
		margin-left:-200px;
		height: 125px;
		width: 400px;
		background-color: white;
		border-radius: 62.5px;
		text-align: center;
		color: blue;
		line-height: 62.5px;
		font-size: 50px;
		font-weight: bold;
	}
	#notice.playerTwoWonGame {
		position: absolute;
		top: 50%;
		margin-top:-62.5px;
		left: 50%;
		margin-left:-200px;
		height: 125px;
		width: 400px;
		background-color: white;
		border-radius: 62.5px;
		text-align: center;
		color: red;
		line-height: 62.5px;
		font-size: 50px;
		font-weight: bold;
	}
	#notice.pcWon {
		position: absolute;
		top: 50%;
		margin-top:-25px;
		left: 50%;
		margin-left:-100px;
		height: 50px;
		width: 200px;
		background-color: white;
		border-radius: 25px;
		text-align: center;
		color: red;
		line-height: 50px;
		font-size: 15px;
		font-weight: bold;
	}
	#notice.pcWonGame {
		position: absolute;
		top: 50%;
		margin-top:-62.5px;
		left: 50%;
		margin-left:-200px;
		height: 125px;
		width: 400px;
		background-color: white;
		border-radius: 62.5px;
		text-align: center;
		color: red;
		line-height: 62.5px;
		font-size: 50px;
		font-weight: bold;
	}
	/* end */
	#end.background{
		position: absolute;
		background-color: black;
		top: 0;
		left: 0;
		color: white;
		width: 100%;
		height: 100%;
		opacity: .90;
		font-size: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		cursor: default;
	}
	#end.settings{
		position: absolute;
		top: 50px;
		right: 50px;
		width: 30px;
		height: 30px;
		padding: 0 .25px;
		background-color: black;
		opacity: .95;
		color: #607D8B;
		border: 2px solid #607D8B;
		border-radius: 12px;
		font-size: 25px;
		line-height: 25px;
		text-align: center;
	}
	#end.settings:hover{
		color: #9E9E9E;
		border: 2px solid #9E9E9E;
		cursor: pointer;
	}
	#end.restart{
		position: absolute;
		top: 75%;
		left: 50%;
		margin-left:-100px;
		height: 50px;
		width: 200px;
		background-color: chocolate;
		border: none;
		border-radius: 25px;
		font-size: 25px;
		color: gold;
	}
	#end.restart:hover{
		background-color: #c35100;
		color: #e0bd00;
		cursor: pointer;
	}
	#end.hide{
		height: 0%;
		width: 0%;
		opacity: 0;
		cursor: default;
	}
}